@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
* {
    font-family: cursive;
}

body {
    width: 100%;
    height: 90vh;
    background-color: #D09CFA;
    display: grid;
    justify-content: center;
    align-items: center;
    place-items: center;
}

#fa {
    font-size: 60px;
}

form {
    background-color: #F3CCFF;
    padding: 50px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    border-radius: 10px;
}

#tempCalc label {
    font-size: 40px;
}

#resultContainer {
    font-size: 45px;
}